.existing-photos-list {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Makes the container horizontally scrollable */
  padding: 10px;
  scroll-behavior: smooth; /* Smooth scrolling effect */
}

.photo-item {
  flex: 0 0 auto; /* Prevents items from shrinking */
  width: 150px;
  height: auto;
}

.existing-photo {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-preview-box {
  margin-bottom: 10px;
}

.photo-preview {
  width: 150px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
